<div class="container" style="min-height: 800px;">
	<div class="row">
		<div class="col-sm-12">
			<h1>Pickuprequest <%= @pickuprequest.id %></h1>
			<p><%= @pickuprequest.address %></p>
			<h2><%= @pickuprequest.weight %></h2>
			<a href="<%= @pickuprequest.id %>/edit">Edit</a>
		</div>
	</div>
</div>